docs/build
src/MEWS.egg-info
src/mews/__pycache__
src/mews/constants/__pycache__/
src/mews/cython/__pycache__/
src/mews/cython/junk.txt
src/mews/cython/markov.c
src/mews/cython/markov.cp311-win_amd64.pyd
src/mews/cython/markov_time_dependent.c
src/mews/cython/markov_time_dependent.cp311-win_amd64.pyd
src/mews/data_requests/__pycache__/
src/mews/epw/__pycache__/
src/mews/errors/__pycache__/
src/mews/events/__pycache__/
src/mews/graphics/__pycache__/
src/mews/stats/__pycache__/
src/mews/utilities/__pycache__/
src/mews/weather/__pycache__/
tests/__pycache__/
CMIP6_Data_Log.log
tests/*.png
tests/*.csv
tests/mews_results
tests/*.txt
tests/temp_out